/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
  text-align:center;
  background-image: url(../img/21-alot.jpeg);
  color: red;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
#savageimg{
  height: 400px;
  border:solid 50px black;
 
}

#savagesays{
  border:10px;
}