/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
  text-align:center;
  background-image: url(../img/21savagealbum.jpeg);
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
#savageimg{
  height: 400px;
  border:solid 50px;
 
}

#savagesays{
  border:10px;
}