/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

body{
  text-align: center;
  background-image: url("../img/yellowbg2.jpeg");
  
}

h1, h2, input, button, p, img{
  margin-bottom: 50px;
}

p{
  font-size: 50px;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
