/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

body{
  background-image:url(../img/temp9.webp);
  background-size: cover;
  text-align: center;
  color:white;
}

table, tr, th, td{
  /*margin: auto 50% auto 50%;*/
  margin-left: auto;
  margin-right: auto;
  border: solid 1px white;
}

.convert-box{
  border-top: none;
}

.input-box{
  border-bottom: none;
}

h1{
font-size: 100px;
}

p{
  font-size: 50px;
}
#Fahrenheit{
 font-size: 100px;
}

#Celsius{
font-size:100px;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
