/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

body{
  background-image:url(../img/temp3.webp);
  background-size: cover;
  text-align: center;
}

table{
  /*margin: auto 50% auto 50%;*/
  margin-left: auto;
  margin-right: auto;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
